@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
/* the style of the discount*/
.rabatt{
    background-color: rgb(96, 155, 123);
margin-top: -0.5em;
margin-left: -0.5em;
margin-right: 0em;
text-align: center;
color:rgb(0, 0, 0) ;
padding-top: 1em;

}
/* the style of the logo*/

.logo{
    margin-top: 0.2em;
    margin-left: 37em;
    width: 17.9em;
    height: 9.5em;
    
}
/* the style of the more products*/

.playe{
    color: rgb(95, 144, 150);
    text-decoration: none;
    margin-left: 8em;
    margin-top: 1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;    
font-size: 3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(62, 130, 57);
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(30, 92, 49);
}
/* the style of the whole page*/

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(29, 112, 69)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
/* the style of the image that is under the logo*/

.main-header {
    background-color: rgb(60, 125, 62);
    background-image: url("Images/green.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0px;
    margin-right: 0em;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: rgb(60, 125, 62);
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: 'Leckerli One', cursive;
    font-weight: normal;
    color: #000;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 5px 1px 2px #8cccaa;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: rgb(96, 155, 123);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
    margin-left: -2em;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Acme', sans-serif;
    text-shadow: -1px -3px 0 #000, 1px -1px 0 #000, -4px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(185, 255, 179);
    margin-bottom: 15px;
}
/*price style*/

.shop-item-image {
    height: 250px;
}
/*price style*/

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}
/*price style*/
.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-weight: 300;
    font-size: 1.3em;
    
}
/* the products*/
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px ;
    padding-right:5px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 35%;
    font-family: 'Margarine', cursive;
background-color: #2d9cdb24;

}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
    font-family: 'Margarine', cursive;
    background-color: #2d9cdb24;
}

.cart-quantity {
    width: 35%;
    font-family: 'Margarine', cursive;
    background-color: #2d9cdb24;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

/*shopping cart*/

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
/*email checker*/
form{
margin-left: 38em;
}
input{
    margin-left: 0em;
    width: 23em;
    height: 3em;
    margin-top: 1em;
}